body{
    background-image: url("images/stacks.jpg");
}
.standard{
    background-color: #442d16;
}

#niniveslogan,#ninivetitle{
    font-family: "Courier New";
    display: block;
    text-align: "center";
}

#ninivetitle{
    font-size: 4em;
    
}

#niniveslogan{
    font-size: 2em;
}
#index-container{
    
}