body{
    background-image: url("images/stacks.jpg");
}
.standart{
    background-color: #442d16;
}

#niniveslogan, #ninivetitle{
    font-family: "Courier New";
    text-align: center;
}

#ninivetitle{
    font-size: 4em;
    
}

#niniveslogan{
    font-size: 2em;
}

#index{
    height: 100%;
    max-height: 100%;
    margin-top: 15%;
}

#searchContainer {
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.bookData {
    padding: 10px;
    margin: 10px;
    background-color: blue;
}